[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "edl"]
	path = edl
	url = https://github.com/cran/edl
[submodule "itsadug"]
	path = itsadug
	url = https://github.com/cran/itsadug
[submodule "plotfunctions"]
	path = plotfunctions
	url = https://github.com/cran/plotfunctions
